{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        {% if message %}
            {% if updated %}
                <div class="alert alert-secondary" role="alert">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% if not listing.isActive and user == listing.price.user %}
    <div class="alert alert-secondary" role="alert">
        Congratulations! You Won the Auction
    </div>
    {% endif %}
    <div class="row mx-4" xmlns="http://www.w3.org/1999/html">
        {% if user.is_authenticated %}
            {% if isOwner and listing.isActive %}
                  <form action="{% url 'closeAuction' id=listing.id %}" method="POST" class="mx-3">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Close</button>
                </form>
            {% endif %}
            {% if isListingInWatchlist %}
                <form action="{% url 'removeWatchlist' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove From Watchlist</button>
                </form>
            {% else %}
               <form action="{% url 'addWatchlist' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Add To Watchlist</button>
               </form>
            {% endif %}
        {% endif %}
    </div>

    <h2>Object: {{ listing.title }}</h2>
    <img src="{{ listing.imgUrl }}" alt="{{ listing.title }}" height="300px">
    <p>{{ listing.description }}</p>
    <p>Owner: {{ listing.owner }}</p>
    <h6>${{ listing.price.bid }}  </h6>
    {% if user.is_authenticated %}
        <form action="{% url 'addBid' id=listing.id %}" method="POST">
         {% csrf_token %}
            <div class="mb-3">
                <label for="price" class="form-label">Add Bid</label>
                <input type="number" min="0" name="newBid" placeholder="Add New Bid">
                <button type="submit" class="btn btn-warning mb-1">Add</button>
            </div>
        </form>
    {% endif %}
    <p>{{ message }}</p>
<h2>Comments</h2>
<br/>
{% if user.is_authenticated %}
    <form action="{% url 'addComment' id=listing.id %}" method="POST">
     {% csrf_token %}
    <div class="mb-3">
        <label for="price" class="form-label">Add Comment</label>
        <input type="text" name="newComment" placeholder="Add New Comment">
        <button type="submit" class="btn btn-primary mb-1">Add</button>
    </div>

    </form>
{% endif %}
    <br/>
    <ul class="list-group">
       {% for comment in allComments %}
          <li class="list-group-item">
              {{ comment.message }}
              <br/>
              <p>Posted py <strong>{{ comment.author }}</strong></p>
          </li>
       {% endfor %}
    </ul>

{% endblock %}